<div class="full-reset nav-lateral-list-menu">
    <ul class="list-unstyled">
        <li>
        	<%= link_to "Iniciar sesion", new_user_session_path %>            
        </li>                  
    </ul>
</div>