html, body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
.be-blue{
	background-color: #2A558C;
}
.no-margin{
	margin: 0px;
}
#logo{
	font-size: 1.5em;
}
a{
	text-decoration: none;
}
.white{
	color: white;
}
.large-padding{
	padding: 2px 2px;
}
.no-list{
	list-style:none;

}
a:visited{
	color: inherit;
}
.text-left{
	text-align: left;
}
.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-style: 1.2em;
}
.field,.top-space,.actions{
	margin-top: 1em;
}
.btn{
	background-color: #2A558C;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 12px;
}

/* nav lateral */
#nav{
   width: 155px;
}

.titulonav{   
   border-width: 0px;
   border-style: solid;
   border-color: #2A558C;
   font-size: 1.2em;
   font-weight: bold;
   background-color: #2A558C;
   color: #ffffff;
   padding: 10px 12px;
}

.cuerporec{
   margin-top: 0px;
   margin-right: 0pt;
   margin-bottom: 0px;
   margin-left: 0pt;
   background-color: #2A558C;
   color: #ffffff;
   position: absolute;
	top: 0;
	height: 100%;
}

.cuerporec ul{
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   padding-top: 0pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 0px;
   list-style-type: none;
   list-style-image: none;
   list-style-position: outside;
}

.cuerporec li{
   border-width: 0px;
   border-color: #2A558C;
   padding: 10px 12px;
   /*padding: 1px 0 2px 2px;*/
   font-size: 1.2em;
   padding-bottom: 2px;
   margin-top: 2px;
   margin-right: 0pt;
   margin-bottom: 2px;
   margin-left: 0pt;
}

.cuerporec a{
   text-decoration: none;
}